{{ define "main" }}
{{ .Content }}

<div id="content-listpage">
    <div id="sidebar">SIDEBAR</div>
        <div id="post">
            
            <h2 style="color:#fff;">Latest</h2>
            <style>
                .tutorial-post-item {
                    display:grid;
                    grid-template-columns: 125px 1fr;
                }
            </style>
            <div class="tutorial-post-list">
                {{ range where .Site.Pages.ByPublishDate.Reverse "Kind" "page" }}
                <div class="tutorial-post-item" style="margin:1em 0;">
                    <div class="post-published-date">
                        <date>{{ .PublishDate.Format "January 2, 2006" }}</date>
                    </div>
                    <div class="post-meta">
                        <div>{{ .Section }}</div>
                        <head style="display:block;"><a href="{{ .Permalink }}">{{ .Title }}</a></head>
                        <div>{{ .Description }}</div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>

    </div>
</div>
{{ end }}