{{ define "main" }}
{{ .Content }}

<div id="content-listpage">
    <div id="post" style="grid-row: 1;">
        
        <h2 style="color:#fff;">Latest</h2>
        <style>
            .tutorial-post-item {
            }
        </style>
        {{ $paginator := .Paginate (where site.RegularPages.ByPublishDate.Reverse "Type" "in" site.Params.mainSections) }}
        <div class="tutorial-post-list" style="display:flex; flex-flow: row wrap; justify-content: flex-start; gap: 1em;">
            {{ range $paginator.Pages }}
            <div class="tutorial-post-item" style="flex: 1 1 250px; background-color: rgba(255,255,255,0.05); border-radius:8px; padding:1em;">
                <div class="post-meta">
                    <div style="text-transform: capitalize;">{{ .Section }}</div>
                    <head style="display:block; "><a style="font-size: 1.2rem;" href="{{ .Permalink }}">{{ .Title }}</a></head>
                    <div class="meta">
                        <div>Published {{ .Date.Format "January 2, 2006" }}</div>
                        <div>{{ if isset .Params "author" }}<img class="author" src="/images/authors/{{(index .Site.Data._authors .Params.author).image | default "default.jpg" }}"> <a href="/author/{{ .Params.author }}">{{(index .Site.Data._authors .Params.author).name}}</a>
                          {{ if (index .Site.Data._authors .Params.author).social.github }}
                          <a href="https://github.com/{{(index .Site.Data._authors .Params.author).social.github }}">
                            <i class="fab fa-github"></i>
                          </a>
                          {{ end }}
                          {{ if (index .Site.Data._authors .Params.author).social.twitter }}
                          <a href="https://twitter.com/{{(index .Site.Data._authors .Params.author).social.twitter }}">
                            <i class="fab fa-twitter"></i>
                          </a>
                          {{ end }}
                        {{ end }}
                        </div>
                        <div>Reading time: {{ .ReadingTime }} {{ cond (eq .ReadingTime 1) "minute" "minutes" }}.</div>
                        </div>

                    <div>{{ .Description }}</div>
                    <div id="tags" style="font-size:0.8em;">
                        {{ range .Params.tags }}
                            <a class="tag" href="{{ $.Site.BaseURL }}/tags/{{ . }}">{{ . }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <div>{{ template "_internal/pagination.html" . }}</div>
    </div>
    <div id="sidebar">
        {{ partial "ad250" . }}
    </div>
</div>
{{ end }}